@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color-scheme: light only;
}

body {
  background-color: white;
  color: black;
  font-family: Montserrat;
  color: rgb(87, 87, 87);
}
body h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 196px;
  width: 100%;
}
header .logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem;
}
header .navbar ul {
  display: inline-flex;
  gap: 24px;
}
header .navbar li {
  list-style-type: none;
}
header .navbar li a {
  color: inherit;
  text-decoration: none;
  transition: 300ms;
  padding: 10px;
}
header .navbar li a:hover {
  color: #3d006e;
  font-weight: 600;
}
header .socials {
  position: absolute;
  right: 1.25rem;
}
header .socials a {
  text-decoration: none;
}
header .socials .social-btn {
  transition: 0.4s ease;
}
header .socials .social-btn:hover {
  transform: translateY(-5px);
}
header .github-logo {
  border-radius: 100%;
}

.header.scrolled {
  background-color: #000000 !important;
  transition: background-color 200ms linear;
}

.intro-section {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 4rem;
}
.intro-section .intro-text h1 {
  color: #000000;
}
.intro-section .intro-text .grey {
  color: rgb(87, 87, 87);
}
.intro-section .cta-btn {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background: #3d006e;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .intro-section {
    font-size: 2rem;
  }
}
.fade-in-text {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.fade-in-text2 {
  -webkit-animation: fadeIn2 3s;
          animation: fadeIn2 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-section {
  height: 60vh;
  display: block;
  text-align: center;
}
.about-section p {
  max-width: 700px;
  margin-inline: auto;
}
.about-section .about-jcu {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.about-section .about-jcu img {
  align-self: flex-start;
}
.about-section .about-jcu p {
  max-width: 300px;
  width: 300px;
}

.skills-section {
  text-align: center;
  height: 60vh;
}
.show {
  transform: translateY(-20px);
  opacity: 1;
}

.projects-section {
  display: block;
  text-align: center;
  height: 100%;
  margin-bottom: 150px;
}
.projects-section h1 {
  margin-bottom: 4rem;
}
.projects-section p {
  font-size: 2rem;
}
.projects-section .projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.projects-section .projects .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px;
  border-radius: 10px;
  align-items: flex-start;
  width: 300px;
  height: auto;
  position: relative;
}
.projects-section .projects .project .project-title {
  font-size: 1.5em;
  align-self: flex-start;
  background-color: black;
  color: white;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.projects-section .projects .project .project-title a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.projects-section .projects .project .project-title a:hover {
  background-color: black;
  color: white;
}
.projects-section .projects .project .links {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.projects-section .projects .project .links a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: 0.4s ease;
  border-radius: 10px;
  background-color: black;
  align-self: flex-end;
}
.projects-section .projects .project .links a:hover {
  transform: translateY(-3px);
}
.projects-section .projects .project .project-img {
  width: 300px;
  border-radius: 0px 0px 10px 10px;
}

.resume-section {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 48px;
}/*# sourceMappingURL=style.css.map */