@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: Montserrat;
}
body h2 {
  font-size: 3rem;
  font-weight: 600;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 196px;
  width: 100%;
}
header .logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem;
}
header .navbar ul {
  display: inline-flex;
  gap: 4rem;
}
header .navbar li {
  list-style-type: none;
}
header .navbar li a {
  color: inherit;
  -webkit-text-decoration: underline 0.1em rgba(0, 0, 0, 0);
          text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}
header .navbar li a:hover {
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
header .socials {
  position: absolute;
  right: 1.25rem;
}
header .socials a {
  text-decoration: none;
}
header .socials .social-btn {
  transition: 0.4s ease;
}
header .socials .social-btn:hover {
  transform: translateY(-5px);
}
header .github-logo {
  border-radius: 100%;
}

.intro-section {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
  margin-bottom: 20vh;
}

.fade-in-text {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.fade-in-text2 {
  -webkit-animation: fadeIn2 3s;
          animation: fadeIn2 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-section {
  height: 80vh;
  opacity: 0;
  display: block;
  text-align: center;
}
.about-section p {
  max-width: 700px;
  margin-inline: auto;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateY(60px);
}

.projects-section {
  display: block;
  text-align: center;
  height: 100vh;
}
.projects-section h1 {
  margin-bottom: 4rem;
}
.projects-section p {
  font-size: 2rem;
}
.projects-section .projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.projects-section .projects .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px;
  border-radius: 10px;
  align-items: center;
  width: 300px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
}
.projects-section .projects .project .project-title {
  font-size: 2rem;
  align-self: flex-start;
  background-color: black;
  color: white;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.projects-section .projects .project .project-title a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.projects-section .projects .project .project-title a:hover {
  background-color: black;
  color: white;
}
.projects-section .projects .project .links {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.projects-section .projects .project .links a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: 0.4s ease;
  border-radius: 10px;
  background-color: black;
  align-self: flex-end;
}
.projects-section .projects .project .links a:hover {
  transform: translateY(-3px);
}
.projects-section .projects .project .project-img {
  width: 300px;
  border-radius: 0px 0px 10px 10px;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 48px;
}

.show {
  transform: translateY(-60px);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */