@import "./variables";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: $primary-font;

  h2 {
    font-size: 3rem;
    font-weight: 600;
  }
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  width: 100%;

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem;
  }
  .navbar {
    ul {
      display: inline-flex;
      gap: 4rem;
    }
    li {
      list-style-type: none;

      a {
        color: inherit;
        text-decoration: underline 0.1em rgba($color: black, $alpha: 0);
        transition: text-decoration-color 300ms;

        &:hover {
          text-decoration-color: rgba($color: black, $alpha: 1);
        }
      }
    }
  }

  .socials {
    position: absolute;
    right: 1.25rem;

    a {
      text-decoration: none;
    }

    .social-btn {
      transition: 0.4s ease;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .github-logo {
    border-radius: 100%;
  }
}

.intro-section {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-size: 4rem;
  margin-bottom: 20vh;
}

.fade-in-text {
  animation: fadeIn 3s;
}
.fade-in-text2 {
  animation: fadeIn2 3s;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-section {
  height: 80vh;
  opacity: 0;
  display: block;
  text-align: center;

  p {
    max-width: 700px;
    margin-inline: auto;
  }
}
.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateY(60px);
}

.projects-section {
  display: block;
  text-align: center;
  height: 100vh;

  h1 {
    margin-bottom: 4rem;
  }

  p {
    font-size: 2rem;
  }

  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    .project {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: solid 1px;
      padding: 10px;
      align-items: center;
      width: 300px;

      .project-title {
        font-size: 2rem;
        align-self: flex-end;
      }
      .project-img {
        width: 300px;
      }
    }
  }
}

.section-title {
  font-size: 3rem;
  margin-bottom: 48px;
}

.show {
  transform: translateY(-60px);
  opacity: 1;
}
